<h1>portfolioItems</h1>
<%= link_to "create new item", new_portfolio_path %>

<% @portfolioItems.each do |portfolioItem| %>
  <p><%= portfolioItem.title %></p>
  <p><%= portfolioItem.subTitle %></p>
  <p><%= portfolioItem.body %></p>
  <%= image_tag portfolioItem.thumbImage unless portfolioItem.thumbImage.nil? %>
  <%= link_to "edit", edit_portfolio_path(portfolioItem.id) %>
<% end %>
